@import url(main.css);

.gallery{
  padding:80px 8%;
  text-align:center;
}

.gallery h4{
  font-size:42px;
  color:var(--darkest-green);
  margin-bottom:50px;
}

.gallery-container{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:25px;
  max-width:1400px;
  margin:auto;
}

.gallery-item{
  background:var(--medium-green);
  padding:18px;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.gallery-item img{
  width:100%;
  height:260px;

  object-fit:contain;

  background:var(--lightest-green);
  border-radius:15px;
}

.gallery-item h3{
  margin-top:15px;
  font-size:22px;
  color:var(--darkest-green);
}

.gallery-item p{
  margin-top:8px;
  font-size:15px;
  color:var(--black);
  line-height:1.5;
}

@media(max-width:1000px){

  .gallery-container{
    grid-template-columns:repeat(2,1fr);
  }

}

.gallery-links{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:25px;
  padding:60px 8% 20px;
}

.gallery-link-card{
  background:var(--medium-green);
  padding:35px 25px;
  border-radius:22px;
  text-decoration:none;
  color:var(--white);
  text-align:center;
  transition:0.3s;
  box-shadow:0 8px 18px rgba(0,0,0,0.12);
}

.gallery-link-card:hover{
  transform:translateY(-6px);
  background:var(--dark-green);
}

.gallery-link-card h3{
  font-size:30px;
  margin-bottom:15px;
}

.gallery-link-card p{
  font-size:17px;
  line-height:1.7;
}


.gallery-btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 24px;
  background:var(--darkest-green);
  color:var(--white);
  text-decoration:none;
  border-radius:12px;
  font-size:16px;
  font-weight:bold;
  transition:0.3s;
}

.gallery-btn:hover{
  background:var(--dark-green);
}


@media(max-width:700px){

  .gallery-container{
    grid-template-columns:1fr;
  }

  .gallery-links{
  grid-template-columns:repeat(2,1fr);
}

    .gallery-links{
  grid-template-columns:1fr;
}
}