:root{
    --lightest-green: #d2e6b5;
    --light-green: #c1db9b;
    --medium-green: #b1cf86;
    --dark-green: #a0c172;
    --darkest-green: #8eb15c;

    --white: #ffffff;
    --black: #1e1e1e;
}